<div class="card-block">
  <h2 class="card-title text-center">Embassy</h2>
  <app-loading *ngIf="loading"></app-loading>
</div>

<ng-template [ngIf]="utils.isLoaded(loading)">
  <ng-template [ngIf]="embassies">
    <!-- User has Embassyed -->
    <ng-template [ngIf]="userEmbassy">
      <p class="card-block lead">You responded to this nation with the following information:</p>

      <ul *ngIf="!showEditForm" class="list-group list-group-flush">
        <li class="list-group-item">
          <strong>Name:</strong>{{userEmbassy.name}}
        </li>
        <li class="list-group-item">
          <strong>Attending:</strong>{{utils.booleanToText(userEmbassy.attending)}}
        </li>
        <li *ngIf="userEmbassy.attending && userEmbassy.guests" class="list-group-item">
          <strong>Additional Guests:</strong>{{userEmbassy.guests}}
        </li>
        <li *ngIf="userEmbassy.comments" class="list-group-item">
          <strong>Comments:</strong><span [innerHTML]="userEmbassy.comments"></span>
        </li>
      </ul>

      <div class="card-block">
        <button
          class="btn btn-info"
          [ngClass]="{'btn-info': !showEditForm, 'btn-warning': showEditForm}"
          (click)="toggleEditForm()">{{editBtnText}}</button>

        <app-embassy-form
          *ngIf="showEditForm"
          [nationId]="nationId"
          [embassy]="userEmbassy"
          (submitEmbassy)="onSubmitEmbassy($nation)"></app-embassy-form>
      </div>
    </ng-template>

    <!-- No Embassy yet -->
    <div *ngIf="!userEmbassy" class="card-block">
      <p class="lead">Fill out the form below to respond:</p>
      <app-embassy-form
        [nationId]="nationId"
        (submitEmbassy)="onSubmitEmbassy($nation)"></app-embassy-form>
    </div>
  </ng-template>

  <!-- All Embassys -->
  <div class="card-block text-right">
    <button (click)="toggleShowEmbassys()" class="btn btn-link btn-sm">{{showEmbassysText}}</button>
  </div>

  <section class="allEmbassys" *ngIf="showAllEmbassys">
    <div class="card-block">
      <h3 class="card-title text-center">All Embassys</h3>
      <p *ngIf="!embassies.length" class="lead">There are currently no Embassys for this nation.</p>
    </div>

    <ul *ngIf="embassies.length" class="list-group list-group-flush">
      <li class="list-group-item list-group-item-success justify-content-between">
        <strong>Attending</strong>
        <span class="badge badge-success badge-pill">{{totalAttending}}</span>
      </li>
      <li
        *ngFor="let embassy of fs.filter(embassies, 'attending', true)"
        class="list-group-item small">
        {{embassy.name}} {{utils.showPlusOnes(embassy.guests)}}
        <p *ngIf="auth.isAdmin && embassy.comments" class="d-flex w-100">
          <em [innerHTML]="embassy.comments"></em>
        </p>
      </li>
      <li class="list-group-item list-group-item-danger justify-content-between">
        <strong>Not Attending</strong>
        <span class="badge badge-danger badge-pill">{{fs.filter(embassies, 'attending', false).length}}</span>
      </li>
      <li
        *ngFor="let embassy of fs.filter(embassies, 'attending', false)"
        class="list-group-item small">
        {{embassy.name}}
        <p *ngIf="auth.isAdmin && embassy.comments" class="d-flex w-100">
          <em [innerHTML]="embassy.comments"></em>
        </p>
      </li>
    </ul>
  </section>

  <!-- Error loading Embassys -->
  <div *ngIf="error" class="card-block">
    <p class="alert alert-danger">
      <strong>Oops!</strong> There was an error retrieving Embassys for this nation.
    </p>
  </div>
</ng-template>

<!-- Footer showing # of total attending guests -->
<div class="card-footer text-right">
  <small *ngIf="totalAttending >= 0" class="text-muted">{{utils.displayCount(totalAttending)}} {{footerTense}}</small>
</div>