@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body {
    background-color: #2e9ce6;
    background-image: url(assets/un-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0.5em 3em;
    font-family: 'Amatic SC', 'Arial';
    color: #fff;
}
ul {
    list-style-type: none;
    margin: 0 0 2em 0;
    padding: 0;
}
ul li {
    display: inline;
    margin-right: 30px;
}
ul li a {
    font-size: 1.5em;
}
a {
    color: #fff;
    text-decoration: none;
}